body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 100px;
    /* position: fixed;
    top: 0px;
    left: 0px;
    right: 0px; */
    position: relative;
    display: flex;
}

#logo {
    flex-basis: 17%;
    max-width: 17%;
    display: flex;
    /* justify-content: center; */
    padding-left: 50px;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #E6EFF5;
}

#logo img {
    height: 36px;
    width: auto;
    margin-right: 10px;
}

#logo span {
    color: #343C6A;
    font-weight: 500;
    font-size: 25px;
}

div#header-content {
    flex-basis: 83%;
    max-width: 83%;
    display: flex;
    justify-content: space-between;
}

div#hc-left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

div#hc-left span {
    color: #343C6A;
    font-size: 28px;
    font-weight: 600;
}

div#hc-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#hc-right form {
    background-color: #F5F7FA;
    border-radius: 40px;
    margin-right: 20px;
    padding: 5px 15px;
}

div#hc-right form input {
    height: 40px;
    border: none;
    outline-style: none;
    background-color: #F5F7FA;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 15px;
    padding: 0px;
    color: #8BA3CB;

}

div#hc-right form input::placeholder {
    color: #8BA3CB;
    font-size: 15px;
}

div#hc-right form button {
    background-color: #F5F7FA;
    border: none;
    font-size: 15px;
    color: #718EBF;
}

div.header-item {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

div#instruct span {
    color: #718EBF;
}

div#notice span {
    color: #FE5C73;
    font-size: 18px;
}

.notice-click-active {
    background-color: #f8e4e7 !important;
}

div#avatar {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}

div#avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* -------------------dark-mode---------- */

#dark-mode {
    font-size: 18px;
    color: #71717a;
}

.dark-mode-active {
    color: #fbbf24 !important;
    background-color: #09090b !important;
}

.bg-dark-mode-sub {
    background-color: #181818 !important;
    border: none !important;
}

.bg-dark-mode {
    background-color: #09090b !important;
    border: none !important;

}

.border-none {
    border: none !important;
}

.border-light {
    border: 1px solid #fff !important;
}

.dark-mode-form {
    background-color: #242427 !important;
}

.dark-mode-form input {
    background-color: #242427 !important;
}

.dark-mode-form select {
    background-color: #242427 !important;
}

.dark-mode-form label {
    color: #FFFFFF !important;
}

.dark-mode-form textarea {
    background-color: #242427 !important;
}

.dark-mode-form button {
    background-color: #242427 !important;

}

.dark-mode-form span {
    color: #FFFFFF !important;
}

.dark-mode-form h3 {
    color: #FFFFFF !important;

}

.dark-mode-form .setting-info-nav-container {
    background-color: #181818 !important;


}

.dark-mode-form .setting-info-nav-container .nav-item-active {
    background-color: #242427 !important;



}

.profile-dark-mode {
    background: #181818 !important;
}

.notice-dark-mode span {
    color: #FFFFFF !important;
}

.notice-dark-mode .notice-board-item:hover {
    background-color: #242427 !important;
}

.color-light {
    color: #FFFFFF !important;

}

.border-20 {
    border-radius: 20px !important;
}

.table-dark-mode {
    background-color: #181818 !important;

}

.calendar-dark-mode {
    background-color: #181818 !important;

}

.calendar-dark-mode .fc-more-popover {
    background-color: #1e1c1c !important;


}

.calendar-dark-mode .fc-more-popover .fc-popover-title {
    color: #FFFFFF;
}

.table-dark-mode span {
    color: #FFFFFF;
}

.table-dark-mode table {
    background-color: #181818 !important;

}


.home-calendar-bg {
    background-color: #181818 !important;

}

.home-calendar-content {
    background-color: #242427 !important;
}

.home-calendar-content-sub {
    background-color: #59595a !important;

}

.text-title-light{
    color: #3532f5 !important;
}
/* ---------------------end-dark-mode------------ */


/* --------------------------wr-content------------------- */
/* ---------sidebar-------------- */
#wr-content {
    /* margin-top: 100px; */
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    overflow-y: auto;
}

#sidebar {
    flex-basis: 17%;
    max-width: 17%;
    height: 100%;
    border-right: 1px solid #E6EFF5;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#sidebar #nav {
    width: 100%;
}

#sidebar .nav-item {
    padding: 20px 50px;
    position: relative;


}

#sidebar .nav-item a {
    display: flex;
    color: #B1B1B1;
    font-size: 18px;
    transition: all ease-in-out 0.1s;
}

#sidebar .nav-item a span.nav-icon {
    margin-right: 20px;
}

#sidebar .nav-item a:hover {
    color: #2D60FF;
}

.nav-active::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 6px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2D60FF;
}

.nav-active a {
    color: #2D60FF !important;
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #e74c3c;
    padding: 12px 20px;
    border-radius: 15px;
}



/* ---------------content---------------- */
#content {
    flex-basis: 83%;
    max-width: 83%;
    height: 100%;
    max-height: 100%;
    background-color: #F5F7FA;
}


/* --------------notice board----------- */
div#notice-board {
    position: absolute;
    top: 90px;
    right: 100px;
    z-index: 100;
    width: 440px;
    max-height: 70vh;
    min-height: 40vh;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.100);
    border-radius: 10px;
    padding-bottom: 20px;
    overflow-y: scroll;
    display: none;
}

/* div#notice-board::-webkit-scrollbar {
    display: none;
  } */

#top-notice-board {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;

}

#title-notice-board span {
    color: #1A1F36;
    font-size: 14px;
    font-weight: 600;
}

#notice-mark {
    color: #1A1F36;
    font-size: 14px;
    cursor: pointer;
}

#list-notice-board .notice-board-item {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #E6EFF5;
    position: relative;
    cursor: pointer;
}

#list-notice-board .notice-board-item:hover {
    background-color: #f6f6fa;
}

.notice-board-item:last-child {
    border-bottom: none !important;
}

.notice-board-icon {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-right: 10px;
    color: #bebec0;
}

.notice-board-content {
    display: flex;
    flex-direction: column;
}

.notice-board-content span:first-child {
    color: #1a1f36;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.notice-board-content span:last-child {
    color: #a4abb7;
    font-size: 12px;
}

.notice-board-item #icon-unread {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 10px;
    background-color: #90cdf4;
    border-radius: 50%;
    border: 1px solid #336b8e;
}


/* ----------------------modal---------------------- */
.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    display: none;
}

.bg-modal {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-modal form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
}

.bg-modal form .form-create-kpi-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.bg-modal form label {
    color: #232323;
    font-weight: 500;
    margin-bottom: 15px;
}

.bg-modal form input,
select,
textarea {
    padding: 15px 20px;
    border: 1px solid #E6EFF5;
    border-radius: 10px;
    outline-style: none;
    font-size: 15px;
    color: #718EBF;
}

.bg-modal form textarea {
    resize: none;
    max-height: 70px;
}

.bg-modal form textarea::placeholder {
    color: #718EBF;
}

.bg-modal form input::placeholder {
    color: #718EBF;
}

.modal-content-title {
    display: flex;
    color: #1814F3;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
    flex-basis: 100%;
    align-items: center;
}

.modal-content-title span {
    margin-right: 20px;
}

.flex-full {
    flex-basis: 100%;
    max-width: 100%;
}

.flex-half {
    flex-basis: 45%;
    max-width: 45%;
}

.btn-create {
    display: flex;
    justify-content: right;
    flex-basis: 100%;
    margin-top: 20px;
}

.btn-create .btn-modal {
    outline-style: none;
    padding: 13px 40px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-close {
    background-color: #FE5C73;
    border: 1px solid #FE5C73;
}

.btn-add {
    background-color: #1814F3;
    border: 1px solid #1814F3;
    font-weight: 500;
    font-size: 16px;
}