@media(max-width:1300.98px) {
    #left-content {
        flex-basis: 55% !important;
        max-width: 55% !important;
    }

    #right-content {
        flex-basis: 45% !important;
        max-width: 45% !important;
    }

    #sidebar .nav-item {
        padding: 20px 40px;
    }

    #sidebar .nav-item a {
        font-size: 16px !important;
    }

    #logo span {
        font-size: 22px;
    }

    #home-content #left-content #welcome h3 {
        font-size: 25px !important;
    }

    #logout a {
        padding: 10px 15px;
        font-size: 16px;
    }

    /* ---------------------------end home ----------------- */
}

@media(max-width:1199.98px) {

    .day {
        width: 16.66%;
    }

    #welcome {
        padding: 20px 30px 10px 30px;
    }
    #sidebar .nav-item {
        padding: 15px 20px;
    }


    /* ---------------------------end home ----------------- */

}

@media(max-width:1091.98px) {
  

    /* ---------------------------end home ----------------- */

}

/* Medium devices (tablets, less than 992px) */
@media(max-width:991.98px) {
    #sidebar {
        display: none;
    }

    #content {
        flex-basis: 100%;
        max-width: 100%;
    }

    #home-content {
        flex-wrap: wrap;
    }

    #home-content #left-content {
        flex-basis: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }

    #right-content {
        flex-basis: 100% !important;
        max-width: 100% !important;
        margin: 50px 0px;
        height: auto !important;
        padding: 0 !important;
    }

    #logo {
        border: none;
        flex-basis: 10%;
        padding-left: 15px;
    }

    #logo img {
        height: 70%;
        width: auto;
    }

    #logo span {
        display: none;
    }

    div#header-content {
        flex-basis: 90%;
        max-width: 90%;
    }

    div#hc-left {
        padding: 0;
    }

    div#hc-left span {
        font-size: 25px !important;

    }

    #nav-sidebar {
        display: flex !important;
    }

    #home-content #left-content #welcome {
        flex-basis: 15% !important;
        /* max-height: 15% !important; */
    }

    #home-content #left-content #profile {
        flex-basis: 15% !important;
        /* max-height: 15% !important; */
    }

    #week_statistic {
        flex-basis: 70% !important;
        max-height: 70% !important;
    }

    div.header-item {
        width: 40px;
        height: 40px;
    }

    div.header-item img {
        width: 100%;
        height: 100%;
    }

    div#avatar {
        width: 50px;
        height: 50px;
    }

    div#avatar img {
        width: 50px;
        height: 50px;
    }

    div#hc-right form input {
        height: 30px;
        font-size: 14px;
    }

    div#hc-right form input::placeholder {
        font-size: 14px !important;

    }

    /* ---------------------------end home ----------------- */

}

/* Small devices (landscape phones, less than 768px) */
@media(max-width:767.98px) {
    div#hc-right form {
        display: none;
    }

    div#notice-board {
        position: absolute;
        top: 90px;
        right: 20px;
        z-index: 19;
        width: 340px;
        max-height: 70vh;
        min-height: 40vh;
        padding-bottom: 20px;
    }
    #search_res{
        display: flex;
    }
}

/* Extra small devices (portrait phone, less than 576px) */
@media (max-width:575.98px) {
    #header {
        height: 70px;
    }

    div#hc-left {
        display: none !important;
    }

    div#header-content {
        justify-content: right;
    }

    div.header-item {
        margin: 0px 5px;
    }

    div#avatar {
        margin-right: 10px;
    }

    #home-content #left-content #welcome {
        padding: 15px !important;
    }
    #home-content #left-content #welcome h3 {
        font-size: 20px !important;
    }
    #home-content #left-content #welcome .welcome-text{
        margin-right: 10px;
    }
    #home-content #left-content #welcome .welcome-text span {
        font-size: 14px;
    }
    #week_statistic{
        flex-basis: 50%;
    }

    /* #res-nav {
        padding: 50px 20px;
    } */
}